<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if (or antoraVersion site.antoraVersion)}}
    <meta name="generator" content="Antora {{or antoraVersion site.antoraVersion}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site.css">
{{> head}}
  </head>
  <link rel='stylesheet' id='app-css'  href='https://portx.io/wp-content/themes/portx/assets/css/app.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='styles-css'  href='https://portx.io/wp-content/themes/portx/style.css?ver=4.9.10' type='text/css' media='all' />
    <script>
           jQuery(document).ready(function(){
              jQuery( "#nav" ).load( "/ #top-nav",function(){
              	jQuery('.toggle-topbar').on('click',function(){jQuery('.top-bar').toggleClass('expanded');});
              });
            });
    </script>
  <body class="article">
      <div id="nav"></div>
{{> header}}
{{> main}}
{{> footer}}
  </body>
</html>
